@media screen and (max-width: 1000px) {
    .main-section {
        grid-template-columns: 30% 30% 30%;
        width: 100%;
        column-gap: 5%;
    }
}

@media screen and (max-width: 600px) {
    .main-section {
        grid-template-columns: 90%;
        width: 100%;
        margin-right: 0%;
    }

    .footer {
        visibility: visible;
    }

    #home-button,
    #data-button,
    .header-left,
    .side-bar {
        visibility: hidden;
    }
}
